body {
  background-color: #0274BB;
  margin: 2.5%;
  font-family: Tahoma, Geneva, sans-serif;
}

.cards {
  border-radius: 8px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
}

.row {
  display: flex;
}

.card1 {
  flex:30%;
}

.card2 {
  flex: 70%;
  text-align: center;
  font-weight: bold;
}

.card3 {
  flex: 60%;
  text-align: center;
  font-weight: bold;
}

.card4 {
  flex: 40%;
  text-align: center;
  font-weight: bold;
}

html {
  font-size: 100%;
}